- var repeats = 200
doctype 5
html
	head
		title Topcoat spinner
		link(rel='stylesheet', type='text/css', href='../../release/css/topcoat-spinner.min.css')
	body
		- while (--repeats)
			.div
				.topcoat-spinner