@import spinner-mixin

/*
  Topcoat loading spinner
  ---------------------------------

  div

*/

.topcoat-spinner
  spinner-base()
  background: var-bg-image
  -webkit-animation: spinner 1s infinite linear;

@import spinner-media-queries
@import spinner-animation