@import spinner-mixin

/*
  Topcoat loading spinner
  ---------------------------------

  <div class='topcoat-spinner'></div>

*/

.topcoat-spinner
  spinner-base()
  background: var-bg-image
  -webkit-animation: spinner 1s infinite linear;

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi)
	.spinner
		background var-bg-image2x
		background-size: 36px

@import spinner-animation